body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.title {
    width: 180px;
}
.title h1 {
    color: red;
    font-size: 28px;
    margin: 10px 0 0 0;
}
.title h2 {
    font-size: 18px;
    margin: 0;
}
.number {
    margin-top: 10px;
    display: flex;
    align-items: center;
}