body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.title {
    width: 180px;
}
.title h1 {
    color: red;
    font-size: 28px;
    margin: 10px 0 0 0;
}
.title h2 {
    font-size: 18px;
    margin: 0;
}
.number {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    background-color: #25d366; 
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    transition: 0.3s;
}

.btn-whatsapp:hover {
    transform: scale(1.1);
    background-color: #128c7e;
}